@model FireArmsInventoryManagementSystem.Models.Form4473Record

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Form4473Record</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransferorsTransactionNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransferorsTransactionNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalNumberOfFirearms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalNumberOfFirearms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPawnRedemption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPawnRedemption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PawnRedemptionLineNumbers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PawnRedemptionLineNumbers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPrivatePartyTransfer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPrivatePartyTransfer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransfereeLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransfereeLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransfereeFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransfereeFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransfereeMiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransfereeMiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransfereeStreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransfereeStreetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransfereeCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransfereeCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransfereeCountyParishBorough)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransfereeCountyParishBorough)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransfereeState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransfereeState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransfereeZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransfereeZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResideInCityLimits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResideInCityLimits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransfereePlaceOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransfereePlaceOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeightFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeightFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeightInches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeightInches)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SSN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SSN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpinOrAmdId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpinOrAmdId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHispanicOrLatino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHispanicOrLatino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaceAmericanIndianOrAlaskaNative)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaceAmericanIndianOrAlaskaNative)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaceAsian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaceAsian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaceBlackOrAfricanAmerican)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaceBlackOrAfricanAmerican)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaceNativeHawaiianOrPacificIslander)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaceNativeHawaiianOrPacificIslander)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaceWhite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaceWhite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryOfCitizenship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryOfCitizenship)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlienNumberOrAdmissionNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlienNumberOrAdmissionNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActualTransfereeBuyer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActualTransfereeBuyer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WillDisposeToFelony)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WillDisposeToFelony)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnderIndictment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnderIndictment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EverConvictedFelony)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EverConvictedFelony)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FugitiveFromJustice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FugitiveFromJustice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnlawfulUserOfControlledSubstance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnlawfulUserOfControlledSubstance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdjudicatedMentallyDefective)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdjudicatedMentallyDefective)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DishonorableDischarge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DishonorableDischarge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectToRestrainingOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectToRestrainingOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConvictedMisdemeanorDomesticViolence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConvictedMisdemeanorDomesticViolence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RenouncedUSCitizenship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RenouncedUSCitizenship)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlienIllegally)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlienIllegally)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NonImmigrantVisa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NonImmigrantVisa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NonImmigrantVisaException)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NonImmigrantVisaException)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WillDisposeToProhibitedPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WillDisposeToProhibitedPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransfereeSignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransfereeSignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryHandgun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryHandgun)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryLongGun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryLongGun)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryOther)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryOther)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GunShowOrEventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GunShowOrEventName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GunShowOrEventCityStateZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GunShowOrEventCityStateZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificationExpDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificationExpDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplementalGovtDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplementalGovtDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PcsBaseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PcsBaseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PcsEffectiveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PcsEffectiveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PcsOrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PcsOrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NonImmigrantExceptionDocumentation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NonImmigrantExceptionDocumentation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NicsCheckInitiatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NicsCheckInitiatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NicsOrStateTransactionNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NicsOrStateTransactionNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialNicsResponse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialNicsResponse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NicsDelayedEligibleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NicsDelayedEligibleDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubsequentNicsResponses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubsequentNicsResponses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTransferNicsResponse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTransferNicsResponse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NicsProceedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NicsProceedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NicsDeniedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NicsDeniedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NicsCancelledDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NicsCancelledDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NicsOverturnedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NicsOverturnedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNfaBackgroundCheckAlready)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNfaBackgroundCheckAlready)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStatePermitExemption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStatePermitExemption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatePermitType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatePermitType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatePermitIssueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatePermitIssueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatePermitExpirationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatePermitExpirationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatePermitNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatePermitNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransfereeRecertSignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransfereeRecertSignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransfereeRecertDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransfereeRecertDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseeUseRemarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenseeUseRemarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerTradeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerTradeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerStreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerStreetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerCityStateZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerCityStateZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerFFLNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerFFLNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransferorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransferorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransferorSignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransferorSignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransferDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransferDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
